<div style="margin-top: 100px"></div>

<div class="container" ng-controller='menuController'>

  <div ng-if="notFound" ng-include="'/partials/cook.html'"></div>

  <!-- form for entering new dish -->
  <form>
  <div class="col-sm-4">
    <div class="thumbnail">

      <div class="image-upload">
          <label for="file-input">
              <img src="img/imageholder.jpeg"/>
          </label>

          <input id="file-input" type="file"/ ng-model='image'>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5" >
        <h3><span class="label label-info">Meal name</span></h3>
        <h3><span class="label label-info">Descirption</span></h3>
        <h3><span class="label label-info">Price</span></h3>
      </div>
      <div class="col-md-7">
        <br>
        <input type="text" class="form-control" ng-model="meal">
        <input type="text" class="form-control" ng-model="description">
        <input type="text" class="form-control" ng-model="price">
        <input type='submit' value='submit' ng-click="addMeal()">
      </div>
    </div>
  </div>
</form>

  <!-- all dishes by a particular cook -->
  <div ng-repeat="meal in menu">
    <p>{{ meal.name }}</p>
  </div>
</div>
<a ng-href='#/timetable'>What time eaters can pick up food?</a>
