<div ng-controller='LocalCooksController'>
  <!-- Controlled by mapDirective -->

  <!-- BUILD DIVS TO TAKE DATA OF BEG AND END
        DEFAULT MAKE IT THE NEXT MEAL, I.E. BEFORE 7 AM BREAKFAST
        BEFORE 12 PM LUNCH
        BEFORE 5 PM DINNER
        THEN NEXT DAY
   -->


  <!-- <div class='time' id='beg'></div> -->
    <form>
      <input data-date-time-input="YYYY-MMM-DD" />
    </form>




  <div meals-around-map>
  </div> 
</div>

 <div ng-controller='ScrollCtrl'>
      <h1 class="animated infinite bounce" style="position: absolute; top: 90%; left: 50%" ng-click="gotoElement('middle')">
        <img src="img/down.png" style="width: 50px" >
      </h1>
   
    <div id='middle' class="cd-scrolling-bg cd-color-2" ng-controller="LocalCooksController">
      <div class="cd-container">
        <div class="row col-md-6">
 
          </div>
        </div>

        <div class="col-md-6" id="map">
        </div>

    </div> 

    <div class="cd-fixed-bg cd-bg-2">
      <h1><!-- title goes here --></h1>
    </div>
   
    <div class="cd-scrolling-bg cd-color-2">
      <div class="cd-container">
        <p style="text-aligh: center">
          Best food is cooked by moms, aunties and friends. Well, sometimes it is someone elses mom. She makes food for her family. It has that special ingredient... LOVE. 
        </p>
      </div> 
    </div>
</div>
