      <div class="cd-container">
        <div class="row col-md-6">
              <form class="form-inline" role="form">
                <h3>Time I wish to pick up</h3>
                <div class="form-group">
                  <label for="beg">Starting:</label>
                  <input type="time" class="form-control" id="beg" ng-model='beg' placeholder="THH:mm:ss">
                </div>
                <div class="form-group">
                  <label for="end">Ending:</label>
                  <input type="time" class="form-control" id="end" ng-model='end' placeholder="THH:mm:ss">
                </div>
              </form>

              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="date">Date:</label>
                  <div class="col-sm-10"> 
                    <input type="date" class="form-control" id="date" ng-model="date">
                  </div>
                </div>
              </form>
          <p>Cooks around you:</p>
            <div ng-repeat="cook in cooks" class="col-md-6">
              <div class="card">
                <div class="card-block">
                  <h4 class="card-title">{{cook.meal.name}} </h4>
                  <h6 class="card-subtitle text-muted">Cook: {{ cook.name}}</h6>
                  <h6 class="card-subtitle text-muted">Servings available: {{ cook.shift.menu[cook.meal._id]}}</h6>
                </div>
                <img src="{{cook.meal.image}}" alt="Card image">
                <div class="card-block">
                  <p class="card-text">{{cook.meals[0].description}}</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
                <div ng-controller="RatingController as rating">
                    <div  star-rating ng-model="rating.rating1" max="5" on-rating-select="rating.rateFunction(rating)">
                    </div>
                </div>
              </div>
<!-- 	        	<div>
	        		Price: ${{cook.meal.price}}
          	</div> -->
	            <!-- <img ng-src="{{cook.cook.pic}}" class="img-circle"> -->


            </div>  
          </div>
        </div>
        