      <div class="cd-container">
        <div class="row col-md-6">
          <p>Cooks around you:</p>
            <div ng-repeat="cook in cooks" class="col-md-6">
              <div class="card">
                <div class="card-block">
                  <h4 class="card-title">{{cook.meal.name}} </h4>
                  <h6 class="card-subtitle text-muted">Cook: {{ cook.cook.name }}</h6>
                </div>
   <!--              <img src="{{cook.meal.image}}" alt="Card image"> -->
                <div class="card-block">
                  <p class="card-text">{{cook.meal.description}}</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
                <div ng-controller="RatingController as rating">
                    <div  star-rating ng-model="rating.rating1" max="5" on-rating-select="rating.rateFunction(rating)">
                    </div>
                </div>
              </div>
<!-- 	        	<div>
	        		Price: ${{cook.meal.price}}
          	</div> -->
	            <!-- <img ng-src="{{cook.cook.pic}}" class="img-circle"> -->


            </div>  
          </div>
        </div>
        