      <div class="cd-container">
        <div class="row col-md-6">
              <form class="form-inline" role="form">
                <h3>Time I wish to pick up</h3>
                <div class="form-group">
                  <label for="beg">Starting:</label>
                  <input type="time" class="form-control" id="beg" ng-model='beg' placeholder="THH:mm:ss">
                </div>
                <div class="form-group">
                  <label for="end">Ending:</label>
                  <input type="time" class="form-control" id="end" ng-model='end' placeholder="THH:mm:ss">
                </div>
              </form>

              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="date">Date:</label>
                  <div class="col-sm-10"> 
                    <input type="date" class="form-control" id="date" ng-model="date">
                  </div>
                </div>
              </form>

              <div class="panel panel-primary">
                <div class="panel-heading">Cart</div>
                <div class="panel-body">
                  <div ng-repeat="yummi in cart">
                    <span>{{yummi.meal.name}}</span>
                  </div>
                  <a type='button' ng-click='checkOut()' ng-href='#/eaterDash'>Proceed to check-out</a>
                </div>
              </div>

            <div ng-repeat="cook in cooks" class="col-md-6">
              <div class="thumbnail">
                <div class="card-block">
                  <h4>{{cook.meal.name}} </h4>
                  <h6>Cook: {{ cook.name}}</h6>
                  <h6>Servings available: {{ cook.shift.menu[cook.meal._id]}}</h6>
                </div>
                <img src="{{cook.meal.image}}" alt="Card image">
                <div class="card-block" ng-controller="RatingController as rating">
                    <div class='row' star-rating ng-model="rating.rating1" max="5" on-rating-select="rating.rateFunction(rating)">
                    </div>
                </div>
              </br>
                <div class="caption">
                  <p>{{cook.meal.description}}</p>
                  <p><a ng-click='toCart(cook)' class="btn btn-primary" role="button">Add to cart</a></p>
                </div>
              </div>
            </div> 

          </div>
        </div>
        