<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">

            </fb:login-button>
          <h4 class="modal-title">Sign up</h4>
        </div>
        <div class="modal-body">
            <div id="status">
            </div>
        </div>


<div ng-controller='registrationController'>

      <label>Your picture</label>
      <input name="file" type="file" file />
      <img id='profile' src="" style='height: 100px; width: 100px'>
    </br>
  </br>
    <!-- purely Angular form-->
  
    <form name="userFormOne" novalidate>
    
      <div class="form-group" >
      
        <label>Your name</label>
        <input type="text" class="form-control" name="name" ng-model="newCook.name" required>
        <label>Address</label>
        <input type="text" ng-model="newCook.address" ng-if='ownAddress' class="form-control" name="address"  id='address' required>
        <input type="text" ng-model="newCook.address" ng-if='!ownAddress' class="form-control" name="address"  id='address' placeholder='Enter your address' required>
        <label>Uncheck if it's not your address</label> 

        <input type="checkbox" ng-model='ownAddress' ng-init="ownAddress=true">
        </br>
        <button type="button" ng-if='!ownAddress' class="btn btn-default" ng-click='geolocation()'>Check it on map</button>
        <button type="button" class="btn btn-default" ng-click='registerCook()'>Register</button>
      </div>
      
    </form>

</div>
        <!-- trying to upload an image to S3 -->


        <div id='map'></div>

        <div class="modal-footer">
          <a ng-href='#/' type="button" class="btn btn-default" data-dismiss="modal" id='closeModal'>Close</a>
        </div>
      </div>
      
    </div>
  </div>




  <button hidden id='modalLaunch' type="button" data-toggle="modal" data-target="#myModal">Open Modal</button>
  <script>
      document.getElementById('modalLaunch').click()
  </script>