<form name="myForm" ng-controller="DateController as dateCtrl">
  <div ng-controller='menuController' >
    <div ng-repeat="meal in menu">
      <p ng-click="addToTomorrow(meal._id)">{{ meal.name }}</p>
      <label>How many</label>
      <input id='{{ meal._id }}'>
    </div>
  </div>

  <label for="exampleInput">Start</label>
  <input type="time" id="exampleInput1" ng-model="value.beginning"
      placeholder="THH:mm:ss" />
  <label for="exampleInput2">End</label>
  <input type="time" id="exampleInput" ng-model="value.end" 
      placeholder="THH:mm"  />
<!--   <div role="alert">
    <span class="error" ng-show="myForm.input.$error.required">
        Required!</span>
    <span class="error" ng-show="myForm.input.$error.datetimelocal">
        Not a valid date!</span>
  </div> -->
  <input ng-click="buildTomorrowMenu()" type="submit" value="Submit">
</form>