<div ng-controller="DateController as dateCtrl">

<form name="myForm" >
  <input type="date" id="exampleInput" name="input" ng-model="date"
       placeholder="yyyy-MM-dd" min="2013-01-01" max="2018-12-31" required />
  <label for="exampleInput">Start</label>
  <input type="time" id="exampleInput1" ng-model="value.beginning"
      placeholder="THH:mm:ss" />
  <label for="exampleInput2">End</label>
  <input type="time" id="exampleInput" ng-model="value.end" 
      placeholder="THH:mm"  />
<!--   <div role="alert">
    <span class="error" ng-show="myForm.input.$error.required">
        Required!</span>
    <span class="error" ng-show="myForm.input.$error.datetimelocal">
        Not a valid date!</span>
  </div> -->
  <input ng-click="buildTomorrowMenu()" type="submit" value="Submit">
</form>

  <div ng-controller='menuController' >
    <div ng-repeat="meal in menu">
      <div class='col-md-3'>
      <div class="thumbnail card">
        <div class="card-block">
          <h4 class="card-title">{{meal.name}} </h4>
        </div>
        <img src="{{meal.image}}" alt="Card image" style='height: 200px; width: auto'>
        <div class="card-block" ng-controller="RatingController as rating">
            <div class='col-md-12' star-rating ng-model="rating.rating1" max="5" on-rating-select="rating.rateFunction(rating)">
            </div>
        </div>
      </br>
        <div class="card-block">
          <p class="card-text">{{meal.description}}</p>
          <label>Quantity</label>
          <input id='{{ meal._id }}'>
          <a type="button" class="btn btn-primary" ng-click='addToTomorrow(meal._id)' class="card-link">Cook this</a>
        </div>
      </div>

    </div>
    </div>


  </div>
</div>